<section class="container my-5 d-flex justify-content-center">
    <div class="card p-4 shadow" style="max-width: 500px; width: 100%">
      <h2 class="text-center mb-4">¿Qué tipo de cuenta quieres?</h2>
  
      <div class="d-grid gap-3">
        <button class="btn btn-outline-primary" (click)="seleccionarRol(2)">
          Quiero ser Organizador 🎤
        </button>
  
        <button class="btn btn-outline-secondary" (click)="seleccionarRol(3)">
          Quiero ser Usuario 👤
        </button>
      </div>
    </div>
  </section>
  